@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark1: #161616;
    --btn-color: #dd0000;
    --btn-text-color: white;
}
/* common style  */
.btn-primary {
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    font-size: 20px;
    padding: 16px 25px;
    border-radius: 10px;
}
/* header style  */
.header {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--dark1);
    display: flex;
    justify-content: space-between;
    color: white;
    border-radius: 30px;
    margin-bottom: 120px;
}

.banner-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.banner-content {
    max-width: 570px;
}

.banner-title {
    font-size: 70px;
    font-weight: bold;
}
.banner-des {
    font-size: 16px;
    margin-bottom: 30px;
}
.banner-img {
    margin: 10px 10px 0 0;
    display: block;
}

/* main style  */
.match {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    margin-bottom: 120px;
    gap: 30px;
}

.match-upcoming {
    background-color: var(--dark1);
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 250px;
    gap: 20px;
    justify-content: center;
    padding: 0 30px;
}
.btn-sec1 {
    background-color: white;
    color: #161616;
}
.match-previous {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.match-card {
    max-width: 312px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.match-card img {
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.match-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 20px;
}
.btn-transfer {
    font-size: 16px;
    padding: 4px 16px;
    border-radius: 5px;
    margin: 20px 0 20px 20px;
    border: 1px solid;
    max-width: 100px;
}
.match-card-icons {
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
    gap: 40px;
}

.time-icon,
.comment-icon {
    margin-right: 10px;
}
